<footer class="main-footer">
  <div class="container">
  <p class="footer-contact">Барбершоп Бородинский
    <br> г.Санкт-Петербург , ул. Большая конюшенная 19/8
    <br>
    <a href="#">Как нас найти?</a>
    <br> Тел.: +7 (812) 555-66-66
  </p>
  <div class="footer-social">
    <b>Давайте дружить</b>
    <ul>
      <li>
        <a href="#" class="social-button"></a>Вконтакте</li>
      <li>
        <a href="#" class="social-button"></a>Фейсбук</li>
      <li>
        <a href="#" class="social-button"></a>Инстаграмм</li>
    </ul>
  </div>
  <p class="footer-copyright">
    <b>Разработано</b>
    <a href="#" class="button">Html Academy</a>
  </p>
</div>
</footer>
