<section class="modal modal-login">
  <h2>Личный кабинет</h2>
  <p>Введите свой логин и пароль</p>
  <form action="#" method="POST" class="login-form">
    <p>
      <label for="user-login" class="visually-hidden">Логин</label>
      <input type="text" class="login-icon-user" id="user-login" name="login" placeholder="Логин">
    </p>
    <p>
      <label for="user-password" class="visually-hidden">Пароль</label>
      <input type="password" class="login-icon-user" id="user-password" name="password" placeholder="Пароль">
    </p>
    <p class="login-password-info">
      <label class="login-checkbox">
        <input type="checkbox" name="remember" class="visually-hidden">
        <span class="checkbox-indicator"></span>
        Запомнить меня</label>
      <a href="#" class="restore">Я забыл пароль</a>
    </p>
    <button class="button" type="submit">Войти</button>
  </form>

  <button class="modal-close" type="button">Закрыть</button>
</section>
<section class="modal modal-map">
  <h2 class="visually-hidden">Как до нас добраться</h2>
  <p>
    <img src="img/map.png" width="780" height="560" alt="Офис компании по адресу Большая Конюшенная 19/8, Санкт-Петербург">
  </p>
  <button class="modal-close" type="button">Закрыть</button>
</section>