<section class="news">
  <div class="news__wrapper">
    <h2 class="news__title">Новости и акции</h2>
    <ul class="news__list">
      <li class="news__item">
        <time class="news__date" datetime="2017-09-29">
          <b class="news__day">29</b>
        </time>
        <p class="news__text">Нам наконец-то завезли Егермейстер! Теперь вы можете пропустить стаканчик во время стрижки.</p>
      </li>
      <li class="news__item">
        <time class="news__date" datetime="2017-09-29">
          <b class="news_day">19</b>
        </time>
        <p class="nwes__text">В нашей команде пополнение, Борис "Бритва" Стригунец, пополнил наши стройные ряды. Спешите записаться.</p>
      </li>
      <li class="news__item">
        <time class="news__date" datetime="2017-09-29">
          <b class="news_day">9</b>
        </time>
        <p class="nwes__text">Все дорожает, а нащи стрижки нет! Как так? Приходите, подстригитесь и узнаете, в чем здесь подвох. </p>
      </li>
    </ul>
    <a href="#" class="news__to-all button">Показать все</a>
  </div>
</section>
