<section class="news">
  <h2>Новости</h2>
  <ul class="news-list">
    <li class="news-item">
      <p>Нам наконец-то завезли Егермейстер! Теперь вы можете пропустить стаканчик во время стрижки.</p>
      <time datetime="2016-01-11">11 января</time>
    </li>
    <li class="news-item">
      <p>В нашей команде пополнение, Борис "Бритва" Стригунец, пополнил наши стройные ряды. Спешите записаться.</p>
      <time datetime="2016-01-16">16 января</time>
    </li>
  </ul>
  <a href="#" class="button">Все новости</a>
</section>
