<section class="reviews">
  <div class="reviews_wrapper slider">
    <h2 class="reviews__title">Отзывы о нас</h2>
    <a href="#" class="reviews__write button">Оставить свой</a>
    <div class="reviews__list slider__list">
      <blockquote class="reviews__item slider__item">
        <p class="reviews__author-picture">
          <img src="img/" alt="Фото Тревиса Баркера" width="50" height="33" class="reviews__author-image">
        </p>
        <cite class="reviews__athor-name">Тревис Баркер</cite>
        <p class="reviews__text">Спасибо за лысину! Был проездом в Москве,заскочил побриться, что-бы было видно новую татуировку!</p>

      </blockquote>
      <blockquote class="reviews__item slider__item">
        <p class="reviews__author-picture">
          <img src="img/" alt="Фото Джона Смита" width="50" height="33" class="reviews__author-image">
        </p>
        <cite class="reviews__athor-name">Джон Смит</cite>
        <p class="reviews__text">Отличную стрижку сделали ребята.</p>
      </blockquote>
      <blockquote class="reviews__item slider__item">
        <p class="reviews__author-picture">
          <img src="img/" alt="Фото Иван Бодайло" width="50" height="33" class="reviews__author-image">
        </p>
        <cite class="reviews__athor-name">Иван Бодайло</cite>
        <p class="reviews__text">В Бородинскоь ваша борода в надежных руках!</p>
      </blockquote>
      <button class="reviews__prev" type="button">Предыдущий Отзыв</button>
      <button class="reviews__next" type="button">Следующий отзыв</button>

    </div>
    <p class="reviews__toggles slider__toggles">
      <button class="slider__toggles" type="button">1</button>
      <button class="slider__toggles" type="button">2</button>
      <button class="slider__toggles" type="button">3</button>
    </p>

  </div>
</section>
