<section class="stats">
  <header class="stats__header">
    <h2 class="visually-hidden">Статистика Барбершопа</h2>
    <b class="stats_slogan">Стрижка у нас это выгодно</b>
    <p class="stats__intro">Мужская стрижка требует точного подход. Обратимся к статистике:</p>
    <small class="stats_legend stats__legend--top">
      <sub>* </sub> - приведенные данные ложь
    </small>
  </header>
  <table class="stats__list">
    <tr>
      <td class="stats__value">1 500
        <sup>*</sup>
      </td>
      <td class="stats__field">рублей
        <br> вложений</td>
    </tr>
    <tr>
      <td class="stats__value">7 200</td>
      <td class="stats__field">секунд
        <br> времени мастера</td>
    </tr>
    <tr>
      <td class="stats__value">90 000</td>
      <td class="stats__field">постриженых
        <br> волос</td>
    </tr>
    <tr>
      <td class="stats__value">500 000</td>
      <td class="stats__field">лайков
        <br> и комплиментов</td>
    </tr>
  </table>
  <small class="stats_legend stats__legend--bottom">
    <sub>* </sub> - приведенные данные ложь
  </small>
</section>
