body{
  background-size: 720px auto;
  min-height: 750px;
}
@media(min-width: $tablet-width){
  body{
    background-size: 1178px auto;
  }
}
@media(min-width: $desktop-width){
  body{
    background-size: 1391px auto;
  }
}
.nav-mock{
  min-height: 310px;
  border: 2px solid #19c953;

}
@media(min-width: $tablet-width){
  .nav-mock{
    min-height: 70px;
  }
}
// временно для сетки

.page-header{
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
}
 .page-header__logo{
   height: 85px;
   border: 2px solid #f10f0f;

 }
@media(min-width: $tablet-width){
  .page-header__logo{
    order: 2;
    height: 400px;
  }
}
@media(min-width: $desktop-width){
  .page-header__logo{
    height: 648px;
  }
}
