.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}
.site-navigation,
.user-navigation {
  list-style: none;
  a {
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: #242424;
    }
  }
} 


