.modal{
  color: #000000;
  background-color: #f8f3f0;
  background-image: url("../img/pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  h2{
    font-size: 30px;
    line-height: 42px;
  }
}
.login-form input[type="text"],
.login-form input[type="password"]
 {
   font: inherit;
   color: #000000;
   text-transform: uppercase;
   background-color: #f9f6f3;
   border: 2px solid #000000;
 }
 .login-form input:focus{
   border-color: #663d15;
 }
 .login-checkbox:hover,
 .login-checkbox:focus{
   color: #663d15;
 }
 .restore{
   color: #000000;
   text-decoration: underline;
   &:hover,
   &:focus{
     text-decoration: none;
   }
 }